<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Tasks</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }

      h1 {
        background-color: #007bff;
        color: white;
        padding: 20px;
        text-align: center;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li {
        background-color: white;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }

      strong {
        color: #007bff;
      }

      a {
        display: block;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin: 20px auto;
        width: 200px;
      }

      #success-message {
        background-color: #4caf50;
        color: white;
        text-align: center;
        padding: 10px;
      }

      a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <h1>All Tasks</h1>
    <% if (isTaskDeleted) { %>
    <div id="success-message" style="display: none"></div>
    <% } %>
    <div class="container">
      <div class="row">
        <% tasks.forEach(task => { %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">
                <strong>Name:</strong> <%= task.name %>
              </h5>
              <p class="card-text">
                <strong>Description:</strong> <%= task.description %>
              </p>
              <p class="card-text">
                <strong>Status:</strong> <%= task.state %>
              </p>
              <a href="/task/view/<%= task._id %>" class="btn btn-primary"
                >View Task</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <a href="/auth/dashboard" class="btn btn-primary mt-3">Back to Dashboard</a>
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
