<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Homepage</title>
  </head>
  <body>
    <h1>Welcome to the Todo app😉</h1>
    <p>Keep track of your tasks with the easy to use app.</p>
    <ul>
      <li>
        <a href="/auth/register">Register</a>
        <a href="/auth/login">Login</a>
        <a href="/task/">Create new task</a>
      </li>
    </ul>
  </body>
</html>
