<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Email" required />
      <label for="username">Password:</label>
      <input type="password" name="password" placeholder="********" required />
      <button type="submit">Login</button>
      <a href="/auth/register">Don't have an account? Register now.</a>
    </form>
  </body>
</html>
