<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/auth/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Email" required />
      <label for="username">Password:</label>
      <input type="password" name="password" placeholder="********" required />
      <button type="submit">Sign up</button>
      <a href="/auth/login>Already have an account? Login.</a>
    </form>
  </body>
</html>
